preprocessed_data/
old*
*.xlsx
*.csv
*.rda
pd_folder
degradation*/*.sum.tsv
*.rda
*.pptx
genotype_data
.ctxt
PlexinB1_variantcalling/Genotypes
PlexinB1_variantcalling/logs
Shared-molecular-neuropathology-across-major-psychiatric-disorders-parallels-polygenic-overlap
eqtl/*/venn*.log
CSEA_BKB/Data/
drug_info.tsv
wgcna/rdas
leafcutter_output
.Rproj.user
twas
